@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.background_circle1 {
    left: -160px;
    top: -100px;
    position: fixed;
}

.background_circle2 {
    left: 750px;
    top: 300px;
    position: fixed;
}

.card-wrapper {
    display: grid;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    z-index: 1;
    border: 0;
}

.card-deco {
    background-image: url(./images/bg-pattern-card.svg);
    width: 370px;
    height: 150px;
    border-radius: 20px 20px 0% 0%;
}

.photo_wrapper {
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    border-radius: 50%;
    border: solid 5px white;
    display: flex;
    margin-top: -50px;
}

.intro_wrapper {
    padding: 25px;
    display: grid;
    place-items: center;
}

.name_wrapper {
    display: flex;
    margin-bottom: 10px;
}

.name {
    font-weight: 700;
    margin-right: 10px;
    font-size: 18px;
}

.age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.from {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.social-media {
    border-top: solid 1px hsl(0, 0%, 85%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 30px;
}

.number {
    font-weight: 700;
    font-size: 18px;
}

#followersnum {
    margin-left: 8px;
}

#likesnum {
    margin-left: 8px;
}

.number_category {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 12px;
    margin-top: 10px;
}